- @crumbs = [{title: '注文一覧'}]

.card
  .card-header.pt-3
    注文一覧
  .card-body
    = form_for @search_form, as: 'search', url: admin_purchases_path(format: :html), method: :get, html: {class: 'form-horizontal', id: 'form_purchase_search'} do |f|
      .form-group.row
        = f.label :purchased_at_from, '購入日', class: 'col-1 col-form-label pr-0'
        .col-6
          .form-inline
            = f.date_field :purchased_at_from, class: 'form-control', value: @search_form.purchased_at_from
            %span.mx-1 〜
            = f.date_field :purchased_at_to, class: 'form-control', value: @search_form.purchased_at_to
        = f.label :email, '購入者メール', class: 'col-2 col-form-label pr-0'
        .col-3
          = f.text_field :email, class: 'form-control'
      .form-group.row
        = f.label :remarks, '備考', class: 'col-1 col-form-label pr-0'
        .col-5
          = f.text_field :remarks, class: 'form-control', placeholder: 'あいまい検索'
        .col-2
          .form-check
            %label.form-check-label
              = f.check_box :undelivered, class: 'form-check-input'
              未配送のみ
        .col-2
          = link_to '検 索', '#', class: 'btn btn-primary btn-block', onclick: 'submit_search(false);'
          -#= f.submit '検 索', class: 'btn btn-primary btn-block'
        .col-2
          = link_to 'CSV出力', '#', class: 'btn btn-success btn-block', onclick: 'submit_search(true);'
    %table.table.table-bordered.table-sm.small.table-hover
      %thead
        %tr.table-secondary
          %th{width: '12%'} #
          %th{width: '13%'}= t('activerecord.attributes.purchase.created_at')
          %th{width: '20%'}= t('activerecord.attributes.member.email')
          %th.text-right{width: '12%'}= t('activerecord.attributes.purchase.item_amount') + '(税抜)'
          %th{width: '28%'}= t('activerecord.models.item') + '(' + t('activerecord.attributes.purchase_detail.quantity') + ')'
          %th.text-center{width: '8%'} 配送
          %th{width: '7%'}
      %tbody
        - @purchases.each do |purchase|
          %tr
            %td= purchase.purchase_no
            %td= purchase.created_at.strftime('%Y/%m/%d %H:%M')
            %td= purchase.member.present? ? purchase.member.email : purchase.guest_email
            %td.text-right= jpy(purchase.item_amount, prefix: true)
            %td
              - purchase.details.each_with_index do |detail, i|
                - if i > 0
                  %br/
                = "#{detail.item.name}(#{detail.quantity})"
            %td.text-center= purchase.delivered? ? '完了' : '未'
            %td
              = link_to '参照', admin_purchase_path(purchase)
    = paginate @purchases
- content_for :javascript do
  :javascript
    function submit_search(csv) {
      if (csv) {
        var url = '#{admin_purchases_path(format: :csv)}';
        $('#form_purchase_search').attr('action', url);
      }
      $('#form_purchase_search').submit();
    }