これはEC-TRIP デモサイトのテストメールです。

この度はご注文頂きまして、誠にありがとうございます。
下記ご注文内容にお間違えが無いかご確認ください。

= "ご注文番号: #{@purchase.purchase_no}"
- @purchase.details.each do |detail|
  = "・#{detail.item.name} (数量:#{detail.quantity})"
