%p= eval("purchase.#{prefix}_full_name") + ' 様'
%p
  = '〒' + eval("purchase.#{prefix}_postal_code")
  %br/
  = "#{eval("purchase.#{prefix}_prefecture.name")} #{eval("purchase.#{prefix}_address1")}"
  %br/
  = eval("purchase.#{prefix}_address2")
%p= '電話番号：' + eval("purchase.#{prefix}_phone")