- label_class = 'col-sm-3 col-form-label text-right'
.form-group.row
  = f.label :name, class: "#{label_class} required"
  .col-sm-9
    = f.text_field :name, class: 'form-control'
    = error_label_tag(f.object, :name)
.form-group.row
  = f.label :description, class: label_class
  .col-sm-9
    = f.text_field :description, class: 'form-control'
    = error_label_tag(f.object, :description)
.form-group.row
  = f.label :caption_image_id, class: label_class
  .col-sm-3
    = render 'admin/images/select', f: f, target_id: :caption_image_id
.form-group.row
  = f.label :about, class: label_class
  .col-sm-9
    = f.text_area :about, :class => 'tinymce form-control', :rows => 30
    = error_label_tag(f.object, :about)
.form-group.row
  = f.label :remarks, class: label_class
  .col-sm-9
    = f.text_field :remarks, :class => 'form-control'
    = error_label_tag(f.object, :remarks)
.form-group.row
  = f.label :price, class: label_class
  .col-sm-3
    = f.number_field :price, :class => 'form-control'
    = error_label_tag(f.object, :price)
.form-group.row
  = f.label :stock_quantity, class: label_class
  .col-sm-3
    = f.number_field :stock_quantity, :class => 'form-control'
    = error_label_tag(f.object, :stock_quantity)
.form-group.row
  %label{class: label_class} タグ
  .col-sm-9
    .form-check.form-check-inline
      %label.form-check-label
        = f.check_box :pickup, class: 'form-check-input'
        = t('activerecord.attributes.item.pickup')
    .form-check.form-check-inline
      %label.form-check-label
        = f.check_box :arrival_new, class: 'form-check-input'
        = t('activerecord.attributes.item.arrival_new')
.form-group.row
  %label{class: label_class} カテゴリー
  .col-sm-9
    .form-group
      = f.fields_for :category_items, f.object.initialized_category_items do |c|
        - category = c.object.category
        - if category.root?
          %hr.my-2/
        .form-check.pl-2{class: "#{'ml-3' unless category.root?}"}
          %label.form-check-label
            = c.hidden_field :category_id
            = c.check_box :enable, checked: c.object.persisted?, class: 'form-check-input'
            = c.object.category.name
.form-group.row
  = f.label :status, class: label_class
  .col-sm-3
    = f.select :status, options_for_select(Item.statuses_i18n.invert, @item.status),
               {include_blank: false}, {class: 'form-control'}
    = error_label_tag(f.object, :status)
%hr/
- content_for :javascript do
  = javascript_include_tag 'tinymce'
  = javascript_include_tag 'tinymce_custom'
  :javascript
    $(document).ready(function() {
      if (#{@preview_id.present?}) {
        window.open('#{preview_admin_items_path(preview_id: @preview_id)}');
      }
    });