- @crumbs = [{title: '商品管理'}]

.card
  .card-header.pt-3
    商品一覧
    = link_to new_admin_item_path, class: 'btn btn-success btn-sm float-right mb-0' do
      %i.fa.fa-plus
      新規作成
  .card-body
    %table.table.table-bordered.table-sm.table-striped
      %thead
        %tr
          %th{width: '5%'} #
          %th{width: '35%'}= t('activerecord.attributes.item.name')
          %th{width: '20%'}= t('activerecord.attributes.item.category_id')
          %th{width: '10%'}= t('activerecord.attributes.item.status')
          %th.text-right{width: '10%'}= t('activerecord.attributes.item.price')
          %th.text-right{width: '10%'}= t('activerecord.attributes.item.stock_quantity')
          %th{width: '10%'}
      %tbody
        - @items.each.with_index(1) do |item, i|
          %tr
            %td= item.id
            %td= item.name
            %td= item.category&.name
            %td= item.status_i18n
            %td.text-right= number_with_delimiter item.price
            %td.text-right= number_with_delimiter item.stock_quantity
            %td= link_to '編集', edit_admin_item_path(item)
