- @crumbs = [{title: '商品一覧'}]

.card
  .card-header.pt-3
    商品一覧
    = link_to new_admin_item_path, class: 'btn btn-success btn-sm float-right mb-0' do
      %i.fa.fa-plus
      新規作成
  .card-body
    = form_for @search_form, as: 'search', url: admin_items_path, method: :get, html: {class: 'form-horizontal', id: 'form_item_search'} do |f|
      .form-group.row
        = f.label :name, '商品名', class: 'col-1 col-form-label pr-0'
        .col-5
          = f.text_field :name, class: 'form-control', placeholder: 'あいまい検索'
        = f.label :category_id, 'カテゴリ', class: 'col-2 col-form-label pr-0 text-right'
        .col-4
          = f.select :category_id, Category.sorted_all.map{|c| [c.root? ? c.name : '　' + c.name, c.id]}, {include_blank: true}, {class: 'form-control'}
      .form-group.row
        = f.label :stock_quantity, '在庫数', class: 'col-1 col-form-label pr-0'
        .col-3
          .input-group
            = f.number_field :stock_quantity, class: 'form-control px-1'
            %span.input-group-addon
              = f.radio_button :stock_type, :less
              = f.label :stock_type_less, '以下', class: 'form-check-label pl-0 pr-2'
              = f.radio_button :stock_type, :more
              = f.label :stock_type_more, '以上', class: 'form-check-label pl-0'
        = f.label :status, 'ステータス', class: 'col-2 col-form-label text-right pr-0'
        .col-4
          .form-check.form-check-inline.pt-1
            %label.form-check-label{for: 'search_statuses_unpublished'}
              = f.check_box :statuses, {multiple: true, class: 'form-check-input'}, 'unpublished', nil
              %span.mr-2= t('enums.item.status.unpublished')
            %label.form-check-label{for: 'search_statuses_selling'}
              = f.check_box :statuses, {multiple: true, class: 'form-check-input'}, 'selling', nil
              %span.mr-2= t('enums.item.status.selling')
            %label.form-check-label{for: 'search_statuses_end_of_sell'}
              = f.check_box :statuses, {multiple: true, class: 'form-check-input'}, 'end_of_sell', nil
              %span.mr-2= t('enums.item.status.end_of_sell')
        .col-2.text-right
          .btn-group
            = f.submit '検索', class: 'btn btn-primary'
            %button.btn.btn-primary.dropdown-toggle{'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false'}
              %span.caret
              %span.sr-only Toggle Dropdown
            .dropdown-menu
              %a.dropdown-item{href: '#', onclick: 'search_with_sort("desc")'} 登録日が新しい順
              %a.dropdown-item{href: '#', onclick: 'search_with_sort("asc")'} 登録日が古い順
              %a.dropdown-item{href: '#', onclick: 'search_with_sort("stock_ask")'} 在庫が少ない順
              %a.dropdown-item{href: '#', onclick: 'search_with_sort("stock_desc")'} 在庫が多い順
          = f.hidden_field :sort_type
    %table.table.table-bordered.table-sm.table-hover
      %thead
        %tr.table-secondary
          %th.text-right{width: '5%'} #
          %th{colspan: 2, width: '35%'}= t('activerecord.attributes.item.name')
          %th{width: '10%'}= t('activerecord.attributes.item.status')
          %th.text-right{width: '10%'}= t('activerecord.attributes.item.price')
          %th.text-right{width: '10%'}= t('activerecord.attributes.item.stock_quantity')
          %th{width: '10%'}
      %tbody
        - @items.each do |item|
          %tr
            %td.text-right= item.id
            %td{width: '10%'}= image_tag item.caption_image_url, class: 'img-fluid'
            %td= item.name
            %td= item.status_i18n
            %td.text-right= jpy(item.price, prefix: true)
            %td.text-right= number_with_delimiter item.stock_quantity
            %td
              = link_to '編集', edit_admin_item_path(item)
              %span.my-2= '/'
              = link_to '削除', admin_item_path(item), method: :delete, data: {confirm: '削除してよろしいでしょうか？'}
    = paginate @items
- content_for :javascript do
  :javascript
    function search_with_sort(sort_type) {
      $('#search_sort_type').val(sort_type);
      $('#form_item_search').submit();
    }