- @crumbs = [{title: '商品一覧', path: admin_items_path}, {title: '新規作成'}]
= form_for @item, url: admin_items_path do |f|
  .card
    .card-header
      商品情報
    .card-body
      = render 'form', f: f
      .float-right
        = f.submit 'プレビュー', class: 'btn btn-success mr-2', name: 'item[preview]'
        = f.submit '登録', class: 'btn btn-primary mr-2'
        = link_to 'キャンセル', admin_items_path, class: 'btn btn-light'
= render 'admin/images/new'