- @crumbs = [{title: '商品管理', link: admin_items_path}, {title: '新規作成'}]

.card
  .card-body
    = form_for @item, url: admin_items_path do |f|
      .form-group.row
        = f.label :name, class: 'col-sm-3 col-form-label text-right'
        .col-sm-9
          = f.text_field :name, class: 'form-control'
          = error_label_tag(f.object, :name)
      .form-group.row
        = f.label :description, class: 'col-sm-3 col-form-label text-right'
        .col-sm-9
          = f.text_field :description, class: 'form-control'
          = error_label_tag(f.object, :description)
      .form-group.row
        = f.label :caption_image_id, class: 'col-sm-3 col-form-label text-right'
        .col-sm-3
          = render 'admin/images/select', f: f, target_id: :caption_image_id
      %hr/
      .float-right
        = f.submit '登録', class: 'btn btn-primary mr-2'
        = link_to 'キャンセル', admin_categories_path, class: 'btn btn-light'
= render 'admin/images/new'