.container.mt-5
  .row.justify-content-center
    .col-xl-4.col-lg-5.col-md-4
      .card
        %h2.card-header.text-center
          Ec-Trip Admin
        .card-body
          - if notice
            .alert.alert-info
              = notice
          - if alert
            .alert.alert-danger
              = alert
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form-group
              = f.label :email
              = f.email_field :email, autofocus: true, class: 'form-control'
            .form-group
              = f.label :password
              = f.password_field :password, autocomplete: 'off', class: 'form-control'
            %hr.mt-4.mb-3/
            = f.submit 'ログイン', class: 'btn btn-primary'

