- if credit_cards.blank?
  .alert.alert-primary
    クレジットカードは未登録です
- credit_cards.each do |card|
  .card.mb-3
    .card-body
      %span.fa.fa-fw.fa-lg{class: fa_card(card.brand)}
      %span.ml-2= card.brand
      %span.ml-2= card.last4
      %span.ml-2= "#{card.exp_month}/#{card.exp_year}"
      %span.ml-2= card.name
      .pull-right
        - if current_member.main_credit_card_id == card.id
          %span.badge.badge-info.p-1.mr-3 規定のカード
        - else
          = link_to '規定のカードにする', change_main_member_credit_card_path(card), method: :post, class: 'mr-3 small'
        = link_to member_credit_card_path(card), method: :delete, data: {confirm: '削除してよろしいでしょうか？'} do
          %i.fa.fa-times.fa-lg
%div
  = link_to '別のカードを追加する', new_member_credit_card_path, class: 'btn btn-info btn-raised', remote: true