.text-center
  %h1.h3.mb-3 お問い合わせ
  %p.mb-4 以下の内容でお間違いなければ、送信ボタンをクリックしてください。
= form_for @contact do |f|
  = f.hidden_field :email
  = f.hidden_field :last_name
  = f.hidden_field :first_name
  = f.hidden_field :phone
  = f.hidden_field :body
  .row.justify-content-lg-center
    .col-lg-8.col-xl-6
      %span.small.text-muted= t('activerecord.attributes.contact.email')
      %p= @contact.email
      %span.small.text-muted= t('activerecord.attributes.contact.phone')
      - if @contact.phone.present?
        %p= @contact.phone
      - else
        .mb-4
      %span.small.text-muted お名前
      %p= @contact.full_name
      %span.small.text-muted= t('activerecord.attributes.contact.body')
      = simple_format(h(@contact.body))
      %hr/
      .text-center
        = f.submit '送 信', class: 'btn btn-raised btn-info mx-2'
        = f.submit '入力画面に戻る', class: 'btn btn-raised btn-secondary mx-2', name: 'page_back'
