- addresses.each do |address|
  .col-lg-6.mb-3
    .card
      .card-header
        = render 'addresses/head', address: address
      .card-body.pb-0
        = render 'addresses/body', address: address
      .card-footer.text-right
        - unless current_member.main_address_id == address.id
          = link_to '規定の住所にする', change_main_member_delivery_address_path(address), method: :post
          &nbsp;/&nbsp;
        = link_to '編集', edit_member_delivery_address_path(address), remote: true
        &nbsp;/&nbsp;
        = link_to '削除', member_delivery_address_path(address), method: :delete, data: {confirm: '削除してよろしいでしょうか？'}
.col-lg-6
  .card{style: 'height: 228px; padding-top: 60px;'}
    .card-body.text-center
      = link_to new_member_delivery_address_path, remote: true do
        %button.btn.btn-info.bmd-btn-fab
          %i.material-icons add