- content_for :stylesheet do
  = stylesheet_link_tag 'front/cart'
.container.cart_index
  - flash_messages
  - if @carts.size == 0
    .alert.alert-primary カートに商品がありません
    .text-center
      = link_to '商品を探す', items_path, class: 'btn btn-info btn-raised'
  - else
    - @carts.each do |cart|
      - item_error = cart.item_error
      - if item_error.present?
        .alert.alert-warning
          = "#{cart.item.name}は販売終了となりました。申し訳ございませんが、カートから削除してください。" if item_error == :item_end
          = "#{cart.item.name}は一時的に在庫切れとなっています。申し訳ございませんが、カートから削除してください。" if item_error == :zero
          = "#{cart.item.name}は残り#{cart.item.stock_quantity}点となりました。申し訳ございませんが、数量を変更してください。" if item_error == :minus
    .jumbotron
      - unless member_signed_in?
        %h3.text-center.mb-3 ショッピングカート
      .text-center
        %h5.mb-3
          = "合計（#{Cart.current_quantity(current_member, session[:cart_session_id])}点）:#{jpy(Cart.current_amount(current_member, session[:cart_session_id]), prefix: true, tax: :exclude)}"
        = link_to new_order_purchase_path, class: 'btn btn-warning btn-raised mx-1' do
          %i.fa.fa-arrow-right
          レジへ進む
        = link_to 'お買い物を続ける', items_path, class: 'btn btn-outline-secondary mx-1'
    .card
      .card-body.py-0
        %table.table.cart_list.table-hover.mb-0
          %thead
            %tr
              %th.text-center 削除
              %th{colspan: 2} 商品
              %th 数量
          %tbody
            - @carts.each do |cart|
              %tr{class: "#{'table-warning' if cart.item_error.present?}"}
                %td.text-center
                  = link_to cart_path(cart), method: :delete, data: {confirm: 'カートから削除してよろしいでしょうか？'} do
                    %i.fa.fa-times.fa-lg
                %td.img_td
                  = link_to item_path(cart.item) do
                    = image_tag cart.item.caption_image_url
                %td
                  = link_to item_path(cart.item) do
                    %h4.item_title= cart.item.name
                  %p.text-muted= jpy(cart.item.price, prefix: true)
                  %p.view_pc= cart.item.description
                %td
                  = form_for cart, url: cart_path(cart), class: 'form-inline' do |f|
                    = f.select :quantity, options_for_select(1..ceil_cart_quantity(cart), selected: cart.quantity), {include_blank: cart.item_error.present?}, {class: 'form-control quantity_select'}
- content_for :javascript do
  :javascript
    $(document).ready(function(){
       $('.quantity_select').change(function() {
           $(this).parents('form').submit();
       })
    });