- content_for :stylesheet do
  = stylesheet_link_tag 'front/credit_card'
.text-center
  %h4.mb-2
    お支払い方法
  %p.text-muted.mb-5 クレジットカード情報を入力してください。
.row.justify-content-md-center.mb-4
  .col-md-8.col-lg-6
    .card#stripe_wrapper
      .card-body
        = render '/credit_cards/form'
        .text-right
          = form_tag order_credit_cards_path, method: :post, class: 'mb-0' do
            = hidden_field_tag :purchase, true
            = submit_tag '', style: 'display: none', id: 'stripe_submit'
            .text-right
              = button_tag class: 'btn btn-info bmd-btn-fab', onclick: 'stripe_js.createToken(); return false;' do
                %i.material-icons arrow_forward
- content_for :javascript do
  %script{:src => 'https://js.stripe.com/v2/', :type => 'text/javascript'}
  :javascript
    Stripe.setPublishableKey('#{ENV['STRIPE_PUBLISHABLE_KEY']}');
  = javascript_include_tag 'stripe_operate'