- col ||= 'col-sm-6 col-lg-4'
%div.mb-4{class: col}
  .card.item_card
    .item_card_header
      = link_to item_path(item) do
        = image_tag item.caption_image_url, class: 'img-fluid', style: 'z-index: -1;'
      .favorite_btn
        = render 'favorites/button', item: item, btn_size: 'bmd-btn-fab-sm', favorite: favorites&.find{|f| f.item_id == item.id}
    .card-body.pt-4
      = link_to item_path(item) do
        %h6.item_name= item.name
        %p.item_price
          = jpy(item.price, prefix: true, tax: :exclude)
        %p.mb-0.text-justify
          - if item.can_sell?
            %span.text-muted= item.description
          - else
            %span.small.text-danger この商品は現在お取り扱いしていません。