- @crumbs = [{title: 'カテゴリー管理'}]

.card
  .card-header.pt-3
    カテゴリー一覧
    = link_to new_admin_category_path, class: 'btn btn-success btn-sm float-right mb-0' do
      %i.fa.fa-plus
      新規作成
  .card-body
    %table.table.table-bordered.table-sm.table-striped
      %thead
        %tr
          %th{width: '12%'} 表示順
          %th{width: '60%'} 名称
          %th{width: '28%'}
      %tbody
        - @categories.each.with_index(1) do |category, i|
          %tr
            %td
              = i
              - if i > 1
                = link_to admin_category_path(category, seq_type: :up), method: :put, class: 'ml-3' do
                  %i.fa.fa-arrow-up
              - else
                %span.text-muted.ml-3
                  %i.fa.fa-arrow-up
              &nbsp;/&nbsp;
              - if i < @categories.size
                = link_to admin_category_path(category, seq_type: :down), method: :put do
                  %i.fa.fa-arrow-down
              - else
                %span.text-muted
                  %i.fa.fa-arrow-down
            %td= category.name
            %td
              = link_to '名称変更', edit_admin_category_path(category)
              &nbsp;/&nbsp;
              = link_to '削除', admin_category_path(category), method: :delete, data: {confirm: '削除してよろしいでしょうか？'}
