- content_for :stylesheet do
  = stylesheet_link_tag 'front/top'
  = stylesheet_link_tag 'front/item'
  = stylesheet_link_tag 'front/topic'
#top_slider.carousel.slide{'data-ride' => 'carousel', style: 'margin-top: -5rem;'}
  .carousel-inner
    .carousel-item.active
      = image_tag 'top_cover.jpg', class: 'd-block img-fluid'
      .carousel-caption.text-right
        %h2 カウチソファ特集
        %p EC-TRIPスタッフが厳選したカウチソファをご紹介
        = link_to 'VIEW', '#', class: 'btn btn-info btn-raised'
    .carousel-item
      = image_tag 'top_cover.jpg', class: 'd-block img-fluid'
      .carousel-caption.text-right
        %h2 ダイニング特集
        %p 流行のスタイルを取り入れたダイニングスペースを演出
        = link_to 'VIEW', '#', class: 'btn btn-info btn-raised'

  %ol.carousel-indicators.view_pc
    %li.active{"data-slide-to" => "0", "data-target" => "#top_slider"}
    %li{"data-slide-to" => "1", "data-target" => "#top_slider"}
  .view_pc
    %a.carousel-control-prev{"data-slide" => "prev", :href => "#top_slider", :role => "button"}
      %span.carousel-control-prev-icon{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.carousel-control-next{"data-slide" => "next", :href => "#top_slider", :role => "button"}
      %span.carousel-control-next-icon{"aria-hidden" => "true"}
      %span.sr-only Next
.category_area.view_pc
  .container
    %ul.nav.nav-pills.nav-justified
      - Category.all.order(:sequence).each do |category|
        %li.nav-item
          = link_to category.name, items_path(item_search_form: {category_id: category.id}), class: 'btn nav-link mb-0'
%hr.mt-0.mb-5
.container
  %section.pickup
    %h4.section_title
      %i.fa.fa-star.fa-fw
      PICK UP!
      %span.no-thank-yu.text-muted スタッフおすすめ
    .row
      = render partial: 'items/card', collection: @items[:pickup], as: :item, locals: {favorites: @favorites}
    .text-right
      = link_to items_path, class: 'btn btn-info btn-raised' do
        MORE
        %i.fa.fa-angle-right.fa-fw
  %section.arrival_new
    %h4.section_title
      %i.fa.fa-bell.fa-fw
      ARRIVAL NEW
      %span.no-thank-yu.text-muted 新着商品
    .row
      = render partial: 'items/card', collection: @items[:new], as: :item, locals: {favorites: @favorites}
    .text-right
      = link_to items_path, class: 'btn btn-info btn-raised' do
        MORE
        %i.fa.fa-angle-right.fa-fw
  %section.topics
    %h4.section_title
      %i.fa.fa-info-circle.fa-fw
      TOPICS
    %hr/
    - 5.times do
      - @topics.each do |topic|
        - if Date.today - 7.days < topic.created_at
          %span.badge.badge-info.p-1.mr-1 NEW
        %span.text-muted.mr-2= topic.created_at.strftime('%Y/%m/%d')
        %br.view_sp
        - if topic.link_url.present?
          = link_to topic.title, topic.link_url, class: 'link', target: '_blank'
        - else
          = topic.title
        %hr/