<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= "#{@crumbs.last[:title]} | " if @crumbs.present? %>RailUp Admin</title>
  <%= csrf_meta_tags %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <%= stylesheet_link_tag    'admin', media: 'all' %>
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-primary">NEW</span></a>
        </li>

      </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
  </div>

  <!-- Main content -->
  <main class="main">

    <div class="container-fluid">

    </div>
    <!-- /.conainer-fluid -->
  </main>

</div>

<footer class="app-footer">
  <span><a href="http://coreui.io">CoreUI</a> © 2017 creativeLabs.</span>
  <span class="ml-auto">Powered by <a href="http://coreui.io">CoreUI</a></span>
</footer>
<!-- 画像選択ダイアログ -->
<div class="modal fade" id="image_select_dialog" tabindex="-1" data-backdrop="static" aria-labelledby="image_select_label" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="image_select_label">ファイル選択ダイアログ</h4>
      </div>
      <div class="modal-body">
        <div class="form-group mt15">
          <input type="file" class="image_file">
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn_select" onclick="image_select.upload()">選択</button>
        <button class="btn btn-default" data-dismiss="modal">キャンセル</button>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'admin' %>
<%= yield :inline_js %>
</body>
</html>
