!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "noindex", :name => "robots"}/
    %meta{:content => "width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title
      = "#{@crumbs.first[:title]} | " if @crumbs.present?
      EcTrip Admin
    = csrf_meta_tags
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :integrity => "sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", :rel => "stylesheet"}/
    %link{:href => 'https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css', :rel => "stylesheet"}
    = stylesheet_link_tag    'admin', media: 'all'
    = yield :stylesheet
  - if manager_signed_in?
    %body.app.header-fixed.sidebar-fixed.aside-menu-fixed.aside-menu-hidden
      %header.app-header.navbar
        %button.navbar-toggler.mobile-sidebar-toggler.d-lg-none.mr-auto{:type => "button"}
          %span.navbar-toggler-icon
        = link_to '', admin_root_path, class: 'navbar-brand'
        %button.navbar-toggler.sidebar-toggler.d-md-down-none{:type => "button"}
          %span.navbar-toggler-icon
        %ul.nav.navbar-nav.ml-auto.mr-3
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %span.d-md-down-none= current_manager.full_name
            .dropdown-menu.dropdown-menu-right
              .dropdown-header.text-center
                %strong アカウント
              = link_to edit_admin_manager_path(current_manager), class: 'dropdown-item' do
                %i.fa.fa-user
                設定変更
              = link_to destroy_manager_session_path, method: :delete, class: 'dropdown-item' do
                %i.fa.fa-sign-out
                ログアウト
      .app-body
        .sidebar
          %nav.sidebar-nav
            %ul.nav
              %li.nav-item
                = link_to admin_root_path, class: 'nav-link' do
                  %i.icon-home
                  ホーム
              %li.nav-title アイテム
              %li.nav-item
                = link_to admin_categories_path, class: "nav-link #{'active' if controller.controller_name == 'categories'}" do
                  %i.icon-folder-alt
                  カテゴリー
              %li.nav-item
                = link_to admin_items_path, class: "nav-link #{'active' if controller.controller_name == 'items'}" do
                  %i.icon-book-open
                  商品
              %li.nav-title 注文
              %li.nav-item
                = link_to admin_purchases_path, class: "nav-link #{'active' if controller.controller_name == 'purchases'}" do
                  %i.icon-basket
                  注文
              %li.nav-title コンテンツ
              %li.nav-item
                = link_to admin_topics_path, class: "nav-link #{'active' if controller.controller_name == 'topics'}" do
                  %i.icon-info
                  トピックス
              %li.nav-item
                = link_to admin_sliders_path, class: "nav-link #{'active' if controller.controller_name == 'sliders'}" do
                  %i.icon-screen-desktop
                  スライダー
              %li.nav-item
                = link_to admin_static_pages_path, class: "nav-link #{'active' if controller.controller_name == 'static_pages'}" do
                  %i.icon-docs
                  各種ページ
              %li.nav-title その他
              %li.nav-item
                = link_to admin_contacts_path, class: "nav-link #{'active' if controller.controller_name == 'contacts'}" do
                  %i.icon-envelope
                  お問い合わせ
                  - if Contact.where(read: false).exists?
                    %span.badge.badge-primary NEW
              %li.nav-item
                = link_to admin_members_path, class: "nav-link #{'active' if controller.controller_name == 'members'}" do
                  %i.icon-people
                  会員
              %li.nav-item
                = link_to admin_managers_path, class: "nav-link #{'active' if controller.controller_name == 'managers'}" do
                  %i.icon-lock
                  管理者
        / Main content
        %main.main
          = admin_breadcrumb(@crumbs) if @crumbs.present?
          .container-fluid.mt-3
            - flash_messages
            = yield

      %footer.app-footer
        %span
          Copyright © 2017
          = link_to 'EC-TRIP', root_path
          All Rights Reserved.
    = javascript_include_tag 'admin'
    = yield :javascript
  - else
    %body
      = yield