= content_for :content do
  .container
    %ul.nav.nav-pills.nav-fill.mb-3
      %li.nav-item
        = link_to member_favorites_path, class: "nav-link #{'active' if controller.controller_name == 'favorites'}" do
          %i.fa.fa-heart.fa-fw.fa-lg
          %span.view_pc お気に入り商品
      %li.nav-item
        = link_to member_carts_path, class: "nav-link #{'active' if controller.controller_name == 'carts'}" do
          %i.fa.fa-shopping-cart.fa-fw.fa-lg
          %span.view_pc カートの中身
      %li.nav-item
        = link_to '#', class: "nav-link #{'active' if controller.controller_name == 'payments'}" do
          %i.fa.fa-file-text.fa-fw.fa-lg
          %span.view_pc 購入履歴
      %li.nav-item
        = link_to edit_member_registration_path, class: "nav-link #{'active' unless %w(favorites carts payments).include?(controller.controller_name)}" do
          %i.fa.fa-user.fa-fw.fa-lg
          %span.view_pc アカウント情報
    = content_for?(:mypage) ? yield(:mypage) : yield
= render template: 'layouts/front'