- content_for :stylesheet do
  = stylesheet_link_tag 'front/purchase'
= content_for :content do
  .purchase_wrap
    .purchase_flow.clearfix
      .flow_line.step5
        %ul.list-unstyled.list-inline
          %li{class: "#{'active' if controller.controller_name == 'invoice_addresses'} "}
            = link_to order_invoice_address_path do
              %i.fa.fa-user.flow_number
              %br/
              %span.view_pc.small お客様の情報
          %li{class: "#{'active' if controller.controller_name == 'delivery_addresses'} "}
            = link_to order_delivery_addresses_path do
              %i.fa.fa-truck.flow_number
              %br/
              %span.view_pc.small お届け先
          %li{class: "#{'active' if controller.controller_name == 'credit_cards'} "}
            = link_to order_credit_cards_path do
              %i.fa.fa-credit-card.flow_number
              %br/
              %span.view_pc.small クレジットカード
          %li{class: "#{'active' if controller.controller_name == 'purchases'} "}
            = link_to new_order_purchase_path do
              %i.fa.fa-sticky-note-o.flow_number
              %br/
              %span.view_pc.small ご確認
          %li
            %i.fa.fa-check.flow_number
            %br/
            %span.view_pc.small 完了
    .container
      - flash_messages
      = yield
= render template: 'layouts/front'