= form_for current_member, url: member_path, method: :put do |f|
  .card
    .card-body
      .form-group
        = f.label :account_name, class: 'form-control-label required'
        = f.text_field :account_name, class: 'form-control'
        = error_label_tag(f.object, :account_name)
      .form-group
        = f.label :email, class: 'form-control-label required'
        = f.text_field :email, class: 'form-control'
        = error_label_tag(f.object, :email)
      .form-group
        = f.label :password, class: 'form-control-label'
        = f.password_field :password, class: 'form-control', placeholder: '変更する場合のみ入力してください'
        = error_label_tag(f.object, :password)
      .form-group
        = f.label :password_confirmation, class: 'form-control-label'
        = f.password_field :password_confirmation, class: 'form-control'
        = error_label_tag(f.object, :password_confirmation)
    .card-footer.text-right
      = f.submit '変更', class: 'btn btn-info btn-raised'
.text-right
  = link_to '退会する', leave_member_path, class: 'small text-muted'